html{
    overflow-x: hidden;
    font-family: Poppins;
    
}
header{
    overflow: hidden;
}
.wave-bg{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.wave-bg .bg{
    background: #3aafa9;

}
.wave-bg svg{
  position: absolute;
  bottom: -150px;
  z-index: 2;
    
}
.wave{
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0;
    
}
.cross{
    font-size: 35px;
position: absolute;
right: 15px;
top: 15px;
}

body{
    margin:0;
    padding: 0;
}
:root{
    --primary-color:#3aafa9;
    --dark-primary-color: #2b7a78;
    --secondary-color: rgb(222, 242, 241);
    --red-color: #F50057;
    --white-color:#feffff;
    
}
a{
    text-decoration: none;
    color:black;

}
h1{
    font-weight: 900;
    font-variant:normal;
    font-size: calc(25px + 2vmin);
    margin: 0;
}
h2{
    font-weight: 200;
    font-size: calc(18px + 2vmin);

}
h3{
    margin: 0;
    font-size: calc(18px + 2vmin);
    font-weight: 400;
}
p{
    font-weight: 200;

}
.loader{
    margin: 40px auto;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.home{
    width: 100%;
    height: 100%;
    
}
.home .home-text h3{
    margin-left: 50px;
}
.home .img-container{
 z-index: 1;
    overflow: hidden;
    position: absolute;
    width:100%;
    height: 100vh;
  
}
.home .front-svg{
    z-index: 3;
    position: absolute;
    bottom: 20px;
    right: 100px;
}
.home img{

    width: 100%;
    height: 100%;
    
}
.home-text{
    transform: translate(30px, -100px);
    z-index: 3;
}

.overlay{
    z-index: 1;
}
.data{
    position: relative;
    z-index: 5;
    height: 100vh;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.column{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 900px;
}


.box-card{
    margin:20px;
    position: relative;
}
.box-card:hover svg:nth-child(2){
    transform: translateX(-50px);
    transform: translateY(-50px);
    opacity: 1;
}
.box-card:hover svg:nth-child(3){
    transform: translateX(-0vw);
    opacity: 1;
    transform: translateY(-50px);

}.box-card:hover svg:nth-child(4){
    transform: translateX(50px);
    transform: translateY(-50px);
    opacity: 1;

}
.box-card svg:nth-child(1) {
    font-size: 100px;
    position: relative;
    opacity: 1;
 }
 .box-card svg:nth-child(1) path{
    color:var(--primary-color);
    height: 100%;
    width: auto;
 }
 
.box-card svg{
    opacity: 0;
    font-size: 30px;
    position: absolute;
    transform: translateX(0);
    transform: translateY(0);
 }
 .box-page{
     width: 100%;
     margin:30px;
     padding-bottom: 40px;
 }
 .box-page-title h2{
  text-align: center;
  margin: 0;
  font-size: 40px;
}
 


.box-page-title svg{
    font-size: 150px;
}
 .box-page-title svg path{
    color:var(--primary-color);
    height: 100%;
    width: auto;
}
.title-name{
    color:black;
    position: absolute;
    bottom: -15px;
}
.logo{
    position: absolute;
    left: 0;
    top:-20px;
}
nav{
    z-index: 7;
    background: transparent;
    height: 10vh;
    position: fixed;
  width: 100%;

}
ul{
    z-index: 2;
    align-items: center;
  width: 100%;
  padding:0;
  margin:0;
  justify-content: flex-end;
  display: flex;
  list-style-type: none;
}
ul>li{
    z-index: 3;
  align-items: center;
  width: 100px;
  display: flex;
  justify-content: center;
 font-size: 20px;
  height: 80px;
}
.link-text:hover .underline{
 width: 100%;

}
nav >svg{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    max-width: 500px;
    height: auto;
    min-width: 350px;
}
svg, li{
  transition: all 1s ease;
}
li a{
    position: relative;
    width: 50%;
    text-align: center;
    text-decoration: none;
    color:var(--secondary-color);
}
nav .wrapper .input-data input{
color: var(--white-color);
}
nav .wrapper .input-data label{
    color: var(--white-color);
    }
nav .underline{
    background: var(--white-color);
}
.box-page-title{
    color: var(--black-color);
    position: relative;
    
   
}

.form-inline{
    border-bottom: #2b7a78;
}
.wrapper{
  
    padding: 20px;
    background-color:transparent;
    border-radius: 10px;
    /* box-shadow: 
    0 0.7px 4px rgba(0,0,0,0.045),
     0 1.9px 11.1px rgba(0,0,0,0.065),
      0 4.5px 26.8px rgba(0,0,0,0.085),
      0 15px 89px rgba(0,0,0,0.013) ; */
}
.wrapper .input-data{
    position: relative;
    display: inline-block;
    background: transparent;
    margin: 10px;
    
}
.wrapper .input-data label{
    font-size: 20px;
    position: absolute;
    left:0;
    transition: 0.5s ease;
    color: #17252A;

}
#search-input{
    width: 60px;
}
.wrapper .input-data input,select{
    
    border: none;
    outline: none;
    background: transparent;
    font-family: Poppins;
    font-size: 20px;
    transition: 1s ease;
    z-index: 5;
    position: relative;

}
.wrapper .input-data .underline-gray{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left:0;
    height: 2px;
    background: var(--dark-primary-color);
    z-index: 2;
}
 .underline{
    position: absolute;
    bottom: 0px;
    width: 0;
    left:0;
    height: 2px;
    background: var(--primary-color);
    transition:  0.5s ease;
    z-index: 3;
}
.wrapper .input-data button{
background-color: transparent;
border: none;
cursor: pointer;
}
.wrapper .input-data button svg{
    font-size: 25px;
}
.wrapper .input-data button:focus{
   outline: none;
   
    }
    .wrapper .input-data input:valid ~ label,
.wrapper .input-data input:focus ~ label{
   transform: translateY(-20px);
   font-size: 13px;
}
.wrapper .input-data #search-input:focus{
    width: 150px;
}
.wrapper .input-data input:focus ~ .underline{
    width: 100%;
 }
 button svg path{
     transition: 1s ease;
 }
 .wrapper .input-data input:focus ~ button svg path{
    color: var(--red-color);
 }
 .search-overlay{
     height: 100vh;
     width: 100vw;
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 10;
     top:0;
     left:0;
     background-color: rgb(222, 242, 241, 0.5);;
 }
 .search-list{ 
     overflow: auto;
    padding:10px;
    position: relative;
    border-radius: 10px;
    background-color: var(--white-color);
    width: 100%;
    max-width: 400px;
    min-height: 70%;
    box-shadow: 
    0 0.7px 4px rgba(0,0,0,0.045),
     0 1.9px 11.1px rgba(0,0,0,0.065),
      0 4.5px 26.8px rgba(0,0,0,0.085),
      0 15px 89px rgba(0,0,0,0.013) ;
 }
 .search-list .column{
     margin:10px;
 }
 .search-item{
    font-weight: bold;
    font-size: 25px;
 }

 .search-list svg path {
     fill: var(--red-color);
 }
.btn{
    cursor: pointer;
    font-size: 20px;
    border-radius: 100px;
    text-align: center;
    min-width: 60px;
    margin: 10px;
    position: relative;
    border: none;
    padding: 10px;
    background-color:var(--white-color);
    box-shadow: 
    0 0.7px 4px rgba(0,0,0,0.045),
     0 1.9px 11.1px rgba(0,0,0,0.065),
      0 4.5px 26.8px rgba(0,0,0,0.085),
      0 15px 89px rgba(0,0,0,0.013) ;
}
 .btn:hover:after{
    width: 100%;
}
.btn:focus:after{
    width: 100%;
}
.btn:focus{
 border: none;
 outline: none;
 
}
.btn svg{
    padding-left: 5px;
    padding-right: 5px;
}
svg{
    cursor: pointer;
}
.items{
   
    
    width: 100%;
}
.items .row{
    border-radius:100px;
    height: 70px;
    padding:5px;
    width: 60vw;
    min-width: 200px;
    justify-content: flex-start;
    overflow-x: auto;
}
.items-title-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.items-title-row > div{
    margin:5px;
}

@media only screen and (max-width: 650px) {
  
}